[submodule "pack/plugins/start/everforest"]
	path = pack/plugins/start/everforest
	url = git@github.com:sainnhe/everforest.git
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
